/* Your custom css code goes here */

.picdetail {
  max-width: 75%;
  max-height: 75%;
  vertical-align: middle;
  overflow-clip-margin: content-box;
  margin-left: auto;
  margin-right: auto;
  overflow: clip;
}